/* styles taken from https://www.joshwcomeau.com/shadow-palette/ */
:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: 0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.08),
    0.5px 1px 1.4px -0.7px hsl(var(--shadow-color) / 0.12),
    1.2px 2.3px 3.3px -1.4px hsl(var(--shadow-color) / 0.16);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.11),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.11),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.11),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.11);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.1),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.1),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.1),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.1),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.1),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.1),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.1),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.1);
}

html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background: radial-gradient(#421232 0%, #3d4652 100%);
  color: #222f3e;
  margin: 0;
  padding: 0;
  height: 95%;
}

h1 {
  font-size: 1.5rem;
  color: #f4f4f8;
  margin: 0;
  padding: 1%;
  /* max-width: 700px; */
  /* width: 90%; */
  text-shadow: 0px 3px 1px rgba(0, 0, 0, 1);
}

.divStyle {
  padding: 1%;
  border-width: 2px;
  border-style: dashed;
  border-color: transparent;
  background-color: white;
}

.roundBorder {
  border-radius: 10px;
}

.master-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

#container {
  border-radius: 8px;
  width: 90%;
  max-width: 700px;
  /* margin: auto; */
  /* made using https://www.joshwcomeau.com/gradient-generator/ */
  background-image: linear-gradient(
    350deg,
    hsl(250deg 53% 78%) 0%,
    hsl(248deg 53% 79%) 31%,
    hsl(246deg 52% 79%) 40%,
    hsl(243deg 52% 79%) 45%,
    hsl(241deg 52% 79%) 47%,
    hsl(239deg 52% 79%) 49%,
    hsl(237deg 52% 79%) 53%,
    hsl(235deg 52% 79%) 61%,
    hsl(233deg 53% 78%) 100%
  );
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sliderOutput {
  font-size: 3rem;
  text-shadow: 0px 0px 4px whitesmoke;
  font-weight: bold;
  margin: 5px 0 5px 0;
}

.divParent {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  position: relative;
}

.divParent2 {
  display: flex;
  flex-flow: row;
  margin: 0 0 0 1%;
  /* align-items: center; */
  /* gap: 2%; */
  /* position: relative; */
  /* width: 70%; */
  /* max-width: 700px; */
  /* margin: 20px 0 0 50px; */
  /* margin-top: 20px; */
  /* text-align: center; */
  justify-content: flex-start;
}

.divChild {
  display: flex;
  font-size: 1.25rem;
  text-align: center;
}

.divChildHeader {
  flex: auto;
  justify-content: left;
  align-items: center;
  text-align: center;
  /* margin: 0; */
  /* padding: 0; */
}

.volumeIcon {
  transition: 100ms ease-in-out;
}

.volumeIcon:hover {
  opacity: 0.9;
}

.inputs {
  font-size: 1.25rem;
  font-family: inherit;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
}

#tempoSlider {
  margin: 5px 0 5px 0;
  width: 75%;
  cursor: pointer;
}

.addMargins {
  padding: 16px 0 16px 0;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-play {
  color: rgb(71, 207, 115, 1);
}

.material-icons.md-stop {
  color: rgba(233, 30, 99, 1);
}

.material-icons.md-volOn {
  color: rgba(158, 158, 158, 1);
}

.beatEmphasisContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 10px 10px 5px 10px;
}

.beatEmphasisBoxes {
  display: flex;
  flex-direction: column;
  flex: 1 1 10px;
  max-width: 100px;
  border-style: dashed;
  border-color: transparent;
  align-items: stretch;
  justify-content: end;
  cursor: pointer;
}

.beatEmphasisStack {
  height: 25px;
  border: 1px solid rgba(49, 27, 146, 1);
  background-color: rgba(95, 39, 205, 0.25);
  transition: 125ms ease-in-out;
  border-radius: 3px;
  box-shadow: var(--shadow-elevation-low);
}

/* experimented with scaling on hover */
/* this method styles all children */
.beatEmphasisBoxes:hover .beatEmphasisStack {
  background-color: rgba(95, 39, 205, 0.5);
  transform: scale(1);
}

.buttonContainer {
  justify-content: center;
  align-content: center;
  height: 48px;
  width: 48px;
  border-radius: 8px;
  background-color: white;
  display: grid;
  box-shadow: 0px 2px 5px black;
  transition: transform 100ms ease-in-out;
  cursor: pointer;
  user-select: none; /* won't select on double-click */
}

.buttonContainer:active {
  scale: 0.95;
}

.buttonContainer:hover * {
  transform: scale(1.2);
}

.playButton {
  transition: transform 100ms ease-in-out;
}

.volumeButton {
  cursor: pointer;
  transition: transform 100ms ease-in-out;
}

.toggleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10px 0 10px;
  cursor: pointer;
}

.emphasisToggle {
  display: flex;
  flex-direction: column;
  flex: 1 1 10px;
  max-width: 100px;
  border-style: dashed;
  border-color: transparent;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
}

/* hides default checkboxes */
.emphasisToggle input[type="checkbox"] {
  display: none;
}

.emphasisToggle:hover {
  transform: scale(1.05);
}

/* defines label style for unchecked inputs */
.emphasisToggle input[type="checkbox"] + label {
  display: flex;
  width: 75%;
  height: 0.8em;
  margin: auto;
  border-radius: 0.5em;
  background: #d1cbcb;
  /* box shadow to the left of the circle */
  box-shadow: inset 0px 1px 2.5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}

/* defines label style for checked inputs */
.emphasisToggle input[type="checkbox"]:checked + label {
  background: #47cf73;
  box-shadow: inset 0px -1px 2.5px rgba(0, 0, 0, 0.3);
}

.emphasisToggle input[type="checkbox"]:disabled + label {
  opacity: 0.5;
}

.hidden {
  display: none;
}

article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 75%;
  position: relative;
  background-color: #f7f2f2;
  border-color: transparent;
  border-style: solid;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  /* josh comeau styling */
  box-shadow: var(--shadow-elevation-medium);
}

.outer-circle {
  background-color: rgba(108, 92, 231, 1);
  border-radius: 50%; /* makes it a circle */
  height: 220px;
  width: 220px;
  position: absolute;
  box-shadow: 5px 5px 10px 2px rgba(108, 92, 231, 0.3); /* pulse wave starts */
}

.inner-circle {
  background-color: white;
  border-radius: 50%; /* makes it a circle */
  height: 210px;
  width: 210px;
  position: absolute;
}

.center-dot {
  background-color: black;
  border-radius: 35%; /* makes it a circle */
  height: 7px;
  width: 7px;
  position: absolute;
}

.hand {
  background: black;
  height: 125px;
  width: 5px;
  top: 0%;
  position: absolute;
  border-radius: 50%;
  transform-origin: bottom;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.outerCircle division {
  height: 220px;
  width: 1px;
  background: red;
  transform: rotate(90deg);
}

.api {
  color: white;
  display: flex;
  flex: 1;
  border-radius: 32px;
  background: #000000d0;
  box-shadow: 1px 1px 5px #000000d0;
  padding: 1em;
  /* margin-top: 32px; */
  /* margin: 32px 10% 0px 10%; */
  /* max-width: 525px; */
  /* width: 525px; */
  min-width: 250px;
  max-width: 300px;
  flex-direction: column;
}

.fact {
  color: #f7f2f2;
  font-size: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
  margin: 0;
  padding: 0.4em 1em;
}

.fact-text {
  font-size: 1.25rem;
  text-align: left;
  margin: 4px 0 0 0;
  padding: 0.4em 1em;
  transition: 0.5s ease-in-out;
}

.api b {
  color: #9a8fdf;
}

.card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

.search {
  display: flex;
  margin: 0.5rem 0 0.5rem 0;
  align-items: center;
  justify-content: center;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

input:focus::placeholder {
  color: transparent;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  outline: none;
  height: 44px;
  width: 46px;
  background: #7c7c7c2c;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #7c7c7c6b;
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
