body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ced5db;
  background-color: #30415e;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 300%;
  color: #ffe5df;
  margin: 0;
  padding: 1%;
  display: inline;
  /*display:inline is like a text wrap*/
  border-width: 2px;
  border-style: solid;
  /*border-color:#ffe5df; clear comment to reintroduce border*/
  border-color: transparent;
  background-color: #26344e;
  border-radius: 5px;
}

h2 {
  font-size: 150%;
  color: #d4a99b;
  /*text-transform: lowercase;*/
}

p {
  font-size: 110%;
  line-height: 1.25;
}

ul {
  font-size: 110%;
  color: white;
}

a {
  color: #f3aca1;
  font-weight: bold;
  text-decoration: none;
}

.divStyle {
  padding: 1%;
  border-width: 2px;
  border-style: dashed;
  border-color: transparent;
  background-color: #26344e;
}

.roundBorder {
  border-radius: 10px;
}

#container {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.lowercase {
  text-transform: lowercase;
}

.right {
  float: right;
}

.button {
  background-color: #ced5db;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.button1 {
  background-color: #ced5db;
  color: black;
  border: 2px solid #e64717;
}

.button1:hover {
  background-color: #e64717;
  color: #ced5db;
  border: 2px solid #e64717;
}

#tempo {
  margin: 5px 0 5px 0;
}

#beatSpace {
  border-color: #f3aca1;
  border-style: ridge;
}

/* the code below should animation a circle which should eventually pulse for each beat */
#beatAnimation {
  padding: 50px;
  background-color: #cfd9df;
  border-radius: 5px;
  margin: 0;
  height: 25px;
  display: flex; /* still learning what flex is */
  align-items: center; /* aligns vertically */
  justify-content: center; /* aligns horizontally */
}

.beatAnimation {
  animation: pulse 5s infinite; /* makes the animation - infinite is how many iterations */
  background-color: rgba(108, 92, 231, 1);
  border-radius: 50%; /* makes it a circle */
  height: 75px;
  width: 75px;
}

@keyframes pulse {
  /* note the reference to pulse above */
  0% {
    transform: scale(1); /* baseline */
  }

  5% {
    transform: scale(1.2); /* pulses out */
    box-shadow: 0 0 0 0 rgba(108, 92, 231, 0.5); /* pulse wave starts */
  }

  90% {
    transform: scale(1.2);
    box-shadow: 0 0 0 15px rgba(108, 92, 231, 0); /* pulse wave fades */
  }

  100% {
    transform: scale(1); /* shrinks back to starting size */
  }
}

.floatRight {
  float: right;
}
.floatLeft {
  float: left;
}

.beatEmphasisContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 2px;
  padding: 10px;
  margin: 10px;
  border-color: black;
  border-style: solid;
  background-color: purple;
}

.beatEmphasisBoxes {
  /* they're not expanding as expected */
  display: flex;
  flex: 1 1;
  flex-direction: column;
  min-width: 20px;
  border-style: dashed;
  border-color: #4e3a2b;
  align-items: stretch;
  justify-content: end;
}

.beatEmphasisStack {
  min-width: 20px;
  height: 25px;
  border: 1px solid #4e3a2b;
  background-color: #c0997c;
  transition: 150ms ease-in-out;
}

/* experimented with scaling on hover */
/* this method styles all children */
.beatEmphasisBoxes:hover .beatEmphasisStack {
  background-color: #997154;
  transform: scale(1);
}

.beatEmphasisText {
  min-width: 20px;
  background-color: transparent;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 250px;
  position: relative;
  background-color: #fff;
  border-color: transparent;
  border-style: solid;
  margin: 10px;
}

.outer-circle {
  background-color: rgba(108, 92, 231, 1);
  border-radius: 50%; /* makes it a circle */
  height: 220px;
  width: 220px;
  position: absolute;
  box-shadow: 5px 5px 10px 2px rgba(108, 92, 231, 0.3); /* pulse wave starts */
}

.inner-circle {
  background-color: white;
  border-radius: 50%; /* makes it a circle */
  height: 210px;
  width: 210px;
  position: absolute;
}

.center-dot {
  background-color: black;
  border-radius: 35%; /* makes it a circle */
  height: 7px;
  width: 7px;
  position: absolute;
}

.hand {
  background: black;
  height: 125px;
  width: 5px;
  top: 0%;
  position: absolute;
  border-radius: 50%;
  transform-origin: bottom;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2); /* pulse wave starts */
}

/* use this if toggling class for the hand to animate
@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.handAnimate {
  background: black;
  height: 125px;
  width: 5px;
  top: 0%;
  position: absolute;
  transform-origin: bottom;
  animation: rotate 2s infinite linear;
}
*/
